/* .vitepress/theme/custom.css */
:root {
  --fhtw-blue: #00659c;
  --fhtw-blue-light: #4c93b9;
  --fhtw-blue-dark: #00466d;
  
  --fhtw-green: #8cb110;
  --fhtw-green-light: #aec857;
  --fhtw-green-dark: #627b0b;

  --fhtw-gray: #71787d;
  --fhtw-gray-light: #a6a6a6;
  --fhtw-gray-dark: #595959;

  --vp-c-brand: var(--fhtw-blue);
  --vp-c-brand-light: var(--fhtw-blue-light);
  --vp-c-brand-dark: var(--fhtw-blue-dark);
  --vp-button-brand-bg: var(--fhtw-blue);
  --vp-home-hero-name-color: var(--fhtw-green);
}