/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #00659c;
  --vp-c-brand-light: #4c93b9;
  --vp-c-brand-dark: #00466d;
  --vp-button-brand-bg: #00659c;
  --vp-home-hero-name-color: #8cb110;
  /* blue: #00659c, gray: #71787d, green: #8cb110 */
}