/* .vitepress/theme/custom.css */
:root {
  --fhtw-blue: #00659c;
  --fhtw-blue-light: #4c93b9;
  --fhtw-blue-dark: #00466d;
  
  --fhtw-green: #8cb110;
  --fhtw-green-light: #aec857;
  --fhtw-green-dark: #627b0b;

  --fhtw-gray: #71787d;
  --fhtw-gray-light: #a6a6a6;
  --fhtw-gray-dark: #595959;

  --vp-c-brand: var(--fhtw-blue);
  --vp-c-brand-light: var(--fhtw-blue-light);
  --vp-c-brand-dark: var(--fhtw-blue-dark);
  --vp-button-brand-bg: var(--fhtw-blue);
  --vp-home-hero-name-color: var(--fhtw-green);
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
  padding: 0.5rem;
}

/* Figures */
figure {
  border: 1px solid var(--fhtw-blue-dark);
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0px 1px 2px 0px var(--fhtw-blue-dark);
}

figure img {
  margin-bottom: 0.5rem;
  margin: auto;
}

figure figcaption {
  padding: 0.25rem;
  /* padding-top: 0.5rem; */
  /* border: 2px solid var(--fhtw-blue-light);; */
  border-top: 2px solid var(--fhtw-blue-dark);
  padding-left: 1rem;
  padding-bottom: 0rem;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  margin-top: 0.25rem;
}

.content.presentation {
  background-color: var(--vp-c-bg);
  overflow-y: scroll;

  & .content-container {
    padding: 4rem;
    max-width: unset !important;
    /* font-size: larger; */
    /* font-size: 250%; */
    // font-size: 4rem;
    /* font-size: larger; */
    /* line-height: 4rem; */
    $zoom: 250%;
    font-size: $zoom;

    & details summary {
      font-size: $zoom;
      line-height: calc(28px * $zoom/100%);
    }

    & details div.line-numbers-mode {
      padding-left: calc(32px * $zoom/100%);
    }

    & details div .line-numbers-wrapper {
      width: calc(32px * $zoom/100%);
    }
    
    &, p {
      line-height: calc(28px * $zoom/100%);
    }

    img {
      width: 75%;
    }

    ul {
      padding-left: calc(1.25rem * ($zoom/100%));
    }

    &
      h1, h2, h3, h4, h5, h6 {
        font-size: $zoom;
        line-height: $zoom;
      }
  }
}

// .content.presentation .content-container h1 {
//   font-size: 4rem;
// }